node_modules/
client/node_modules/
client/build/
*.zip
*.exe
*.nupkg
*.asar
out/
db/*
!db/init.db
data/
python/dist/
python/build/
python/*.spec
python/app/*.pyd
python/app/*.so
python/venv
pdf/
.DS_Store
*.log
config.txt
.npm-cache/
dist/
pack-resources/python/
