.dateInput::placeholder {
    color: #5A5A89;
}

.dateInput{
    color: #5A5A89;
    margin-bottom: 20px;
    border-color: #5A5A89;
}



.dateButton {
    background-color: #000;
    color: #5A5A89;
    border-color: #5A5A89;
}